jvav==3.0.0
python-telegram-bot[job-queue]==21.6
python-dotenv==1.0.1
opencc-python-reimplemented==0.1.7
requests==2.32.4
beautifulsoup4==4.14.3
pypinyin==0.52.0
lxml==5.4.0
playwright==1.53.0
wikipedia-api==0.8.1
